html {
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  border: 0;
}

/* Estilos CSS para o cabeçalho */
header {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* Estilos CSS para os botões */

.botoes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  
  .botao-tripla {
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .botao-tripla {
    width: calc((100% / 2) - 0px);
  }

  .botoes-triplo-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  max-width: 600px;
  }
  
  .botao-saibamais{
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .botao-home {
    font-family: 'Roboto', sans-serif;
    width: calc(45% - 112px); /* 320px é a soma das larguras dos três botões juntos */
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .conteudo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    width: 745px;
    height: 567px;
    left: 126px;
    top: 888px;
  }
  
  .imagem {
    width: 557px;
    height: 547px;
    width: 557px;
  height: 547px;
  border: 10px solid black;
  }
  
  .titulo {
    padding: 20px 20px 20px 0;
    margin-right: 30px;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  margin-left: 50px;
 margin-top: 24px;
  }
  
  .titulo h2 {
    font-size: 21px;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .texto {
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 120%;
    padding: 20px;
    margin-bottom: 82px;
    margin-left: 50px;
  }

  .cards-container {
    margin-top: 1500px;
  }

  
  .card {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
    width: 30%;
  margin: 0 15px 20px;
  }
  
  .card img {
    height: 100px;
  width: 100px;
  }
  
  .card p {
    margin-top: 10px;
    font-weight: bold;
  }

  .cards-titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    text-align: center;
    margin-bottom: 100px;
  }

  .linha-de-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* para dar espaço entre as linhas de cards */
    }

    
    .cards-container2 {
      margin-top: 150px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; /* alinha as colunas ao centro */
    }
    
    .colunadecards1, .colunadecards2 {
      padding-left: 250px;
      flex-basis: calc(50% - 200px);
    }
    .colunadecards1{
      padding-left: 10px;
    }
      
      .card2 {
        height: 150px; /* ou outro valor que você queira */
        width: 30%;
        text-align: center;
        margin: 0 15px 20px;
        display: flex;
        align-items: center; /* centraliza os elementos verticalmente */
      }
      
      .cards-titulo2 {
        font-family: 'Roboto', sans-serif;
        font-size: 64px;
        text-align: center;
        margin-top: 20px;
        flex-basis: 100%;
        margin-bottom: 10px;
      }
      
      .card2 img {
        max-width: 50%; /* ou outro valor que você queira */
        height: 100px;
        width: 100px;
        margin-right: 20px; /* cria uma margem à direita da imagem */
      }
      
      .linha-de-cards2 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }

      .colunadecards1 {
        margin-left: 10px;
      }

      .card-content {
        display: flex;
        flex-direction: column;
      }
      
      .card-content h2 {
        white-space: nowrap;
        font-family: 'Roboto', sans-serif;
        margin: 0;
        margin: -50px 0 0; /* adicionando valor negativo para margin-top */
        font-size: 36px;
      }

      .colunadecards2 .card2:nth-child(3) .card-content h2 {
        margin-top: -10px;
      }

      .card-content p {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        text-align: left;
        white-space: normal;
  overflow: hidden;
      }

      .container{
        position: relative; /* Define a posição relativa para o container */
}

.atomequipe{
  font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    margin: 10px;
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#titulo {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
    margin: 0;
}


#imagens{
    display: flex;
    justify-content: space-around;
    margin-top: 75px;
    position: absolute; /* Define a posição absoluta para as divs */
  width: 100%; /* Define a largura das divs como 100% */
}

#imagem1{
    height: 455px;
    width: 393px;
    
}

.caixonas{
    display: flex;
    justify-content: space-around; 
    margin-bottom: 150px;
    position: absolute;
  width: 100%;
  margin-top: 500px;
}

.caixinhas{
    height: 126px;
    width: 284px;
    background-color: white;
}

#nome{
    font-family:roboto;
    text-align: center;
    background-color: black;
    color: white;
    height: 20px;
    width: 152px;
    margin-left: 10%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 5px;
    padding-bottom: 2px;
    
}

#funcao{
    height: 12px;
    width: 44px;
    margin-left: 85px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

#logossocialtime {
    display: flex;
    justify-content: space-around;

    margin-left: 130px;
    margin-bottom: 0px;
    margin-right: 150px;
}

#logosocialindividual{
  margin-left: 10px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    
}

.cards-titulo4 {
  margin-top: 800px;
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  text-align: center;
}

.cards-container3 {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  padding-left: 100px;
}

.card3 {
  display: flex;
  align-items: center;
  display: inline-block;
  vertical-align: top;
}

.card-content3 {
  display: flex;
  flex-direction: column;
  align-items: center; /* centraliza os elementos horizontalmente */
}

.card-content3 h2 {
  margin-top: 2000px; /* ajusta a distância entre a imagem e o texto */
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 36px;
  text-align: left; /* centraliza o texto dentro do card */
}
.card3 {
  height: 150px; /* ou outro valor que você queira */
  width: 30%;
  text-align: center;
  margin: 0 15px 20px;
  display: flex;
  align-items: center; /* centraliza os elementos verticalmente */
}

.card3 img {
  max-width: 50%; /* ou outro valor que você queira */
  height: 100px;
  width: 100px;
  margin-right: 20px; /* cria uma margem à direita da imagem */
}
.coluna2contatos {
  margin-right: 5000px;
}

.colunade2contatos {
  display: flex;
  align-items: center; /* centraliza os elementos verticalmente */
}

.colunade2contatos .card3 img {
  margin-top: -350px; /* ajusta a posição da imagem */
}

.botao-saibamais {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.botao-saibamais a {
  color: white;
  text-decoration: none;
}